.home-title{
    font-size:50px ;
    font-weight: 700;
    color: black;
}
.home-content{
    margin: 150px auto;
    width: 80%;
}
.home-description{
    
    font-size: 25px;
    padding: 20px;
    
}

/* carousel */
.applycss{
    width: 58%;
    margin:0 auto;
  
  
  }
  .carousel-caption{
    font-size: 25px;
    font-weight: 800;
  
  }
  .carousel-bg{
    background-color: #B8B8FF;
  }
  .carousel-text{
    font-size: 35px;
    font-weight: 700;
    color: white;
  }