.home-title{
    font-size:50px ;
    font-weight: 700;
    color: black;
}
.home-content{
    margin: 150px 100px;
}
.home-description{
    width: 900px;
    font-size: 20px;
    padding: 20px;
    background-color:#B8B8FF ;
}