ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}
.list-container h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #ac53e6;
}