/*
common styling theme:
color for cards background:#8A68FF,#B8B8FF,#8B5AFF,#785DDD,#5B45BE
optional trail colors:#caf0f8,#ade8f4,#90e0ef,#48cae4,#00b4d8,#0096c7,#0077b6,#023e8a,#03045e.
nav,footer:#f7f7f2

colors:https://coolors.co/b8b8ff-9381ff-8b5aff-785ddd-5b45be

font import:
<style>
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Konkhmer+Sleokchher&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
</style>


class css:

<uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900

.montserrat-lapshop {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: ;
  font-style: normal;
}

 <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900

.jost-<uniquifier> {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

font2
<style>
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Konkhmer+Sleokchher&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');
</style>
.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
common btns styles:
.button {
  background-color: #8A68FF; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: #8A68FF; 
  border: 2px solid #8A68FF;
}

.button1:hover {
  background-color: #8A68FF;
  color: white;
}

*/

/* body */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Konkhmer+Sleokchher&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.montserrat-lapshop {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:600 ;
    font-style: normal;
  }
*{
    padding: 0;
    margin: 0;
}

/* navigation Bar */

.nav-color{
    background-color: #f7f7f2;
    
}
.nav-font{
    font-size: 25px;
}


/* footer styling */
.foot{
    font-size: 20px;
    background-color: #f7f7f2;
    margin-top:100px;
    padding: 20px;

}
@media screen and (max-width: 600px){
    .foot .container{
        display: flex;
        flex-wrap: wrap;

    }
}
.foot .box{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
    width: 300px;
    
    
}
.foot .container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    
}
.foot .grid{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
    width: 300px;


}
.foot h3{
    margin-bottom: 30px;
    color: #8A68FF;
}
.foot .contact-img{
    height: 25px;
}
